<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/join/page :: head">
    <title id="pageTitle">Registration</title>
</head>

<!--/*@thymesVar id="error" type="String"*/-->

<body>
    <form th:action="@{/registration}" th:method="post" enctype="multipart/form-data">
        <p th:text="${error}" style="color: red"></p>
        <label><input type="file" name="avatar" /></label>
        <label> User Name : <input type="text" name="username"/> </label>
        <label> Password: <input type="password" name="password"/> </label>
        <input type="submit" class="btn btn-primary" value="Подтвердить"/>
    </form>
</body>
</html>